<footer class="page-footer off-white no-select">
    <div class="row">
        <div class="col s12">
            <div class="center-align">
                <!-- <div id="tippin-button" class="btn-flat soft-grey email soft-grey-text" data-dest="roskelld"></div>                 -->
                <a href="https://twitter.com/{{site.twitter_username}}" class="btn-flat" title="Twitter"><i class="soft-grey-text fab fa-twitter fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/roskelld/" class="btn-flat" title="LinkedIn"><i class="soft-grey-text fab fa-linkedin fa-2x"></i></a>
                <a href="https://github.com/{{site.github_username}}/" class="btn-flat" title="Github"><i class="soft-grey-text fab fa-github fa-2x"></i></a>
                <a href="https://twitch.com/{{site.twitch}}" class="btn-flat" title="Stack Exchange"><i class="soft-grey-text fab fa-twitch fa-2x"></i></a>
                <!-- <a href="https://stackoverflow.com/users/6126468/roskelld" class="btn-flat" title="Twitch"><i class="soft-grey-text fab fa-stack-overflow fa-2x"></i></a> -->
                <a href="mailto:{{site.email}},?subject=Hey Dean!" class="btn-flat email" title="email"><i class="soft-grey-text fas fa-envelope fa-2x"></i></a>
            </div>
            <div class="center-align">
                <span id="shhh" class="hover-gray-to-color">🍒</span> <span class="grey-text"> ©  {{ site.time | date: "%Y" }} Dean Roskell</span>
            </div>
        </div>
    </div>
</footer>
<!-- Scripts -->
<script src="{{base}}/js/lib/materialize.min.js"></script>
<script src="{{base}}/js/utils.js"></script>
<script src="{{base}}/js/onscreen.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{{base}}/js/site.js"></script>
{% if page.layout != post %}<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>{% endif %}
<!-- <script src="https://tippin.me/buttons/tip.js" type="text/javascript"></script> -->
{% if page.cardpanel == true %}<script src="{{base}}/js/cardpanel.js"></script>{% endif %}
{% if page.layout == post %}<script id="dsq-count-scr" src="//deanroskell.disqus.com/count.js" async></script>{% endif %}
